https://steemd.privex.io
https://direct.steemd.privex.io
https://api.steemit.com
https://steemd-appbase.steemit.com
https://steemd.steemitstage.com
https://rpc.buildteam.io
https://gtg.steem.house:8090
https://rpc.steemviz.com
https://rpc.steemliberator.com
#https://rpc.curiesteem.com
https://steemd.minnowsupportproject.org
http://steemseed-fin.privex.io:8091