[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nest-asyncio = "*"
jupyter = "*"

[packages]
httpx = "*"
attrs = "*"
colorama = "*"
privex-helpers = "*"
python-dateutil = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
