[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nest-asyncio = "*"
jupyter = "*"

[packages]
httpx = ">=0.13"
attrs = "*"
colorama = "*"
privex-helpers = {extras = ["extras", "net"],version = ">=2.10"}
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"

[requires]
python_version = "3.8"
